# Environnements virtuels (racine ou sous-dossiers)
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
.eggs/
dist/
build/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
